In [3]:
#1. Write a python program to check if the entered string is palindrome or not.
word = input("Please enter a word: ")
word_r = ""
for i in word[::-1]:
  word_r += i
if word==word_r:
  print("palindrome")
else:
  print("not palindrome")

Please enter a word: computer
not palindrome

In [6]:
#2. Write a python program to check if the given number is divisible by 9
number = int(input("Please enter a number: "))
if number%9==0:
  print("divisible by 9")
else:
  print("not divisible by 9")

Please enter a number: 16
not divisible by 9

In [12]:
#3. Write a python program to print odd numbers between 300 and 500
for i in range(301,500,2):
  print(i)

301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499

In [13]:
#4. Get two numbers from user and print their sum, difference, product and quotient after division
num1 = int(input("Please enter first number: "))
num2 = int(input("Please enter second number: "))
print("Sum = ", num1+num2)
print("Difference = ",num1-num2)
print("Product = ", num1*num2)
print("Quotient = ", num1%num2)

Please enter first number: 4
Please enter second number: 2
Sum =  6
Difference =  2
Product =  8
Quotient =  0

In [14]:
#5. Write a python function to find the product of 2 numbers.
def product(num1,num2):
  return num1*num2

In [15]:
product(5,2)

10